@model List<Article>
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center py-3">Benvenuti nella nostra vetrina</h1>

<div class="row">
    @foreach (var article in Model)
    {
        <div class="col-3 mb-1">
            <div class="card shadow-lg" style="width:18rem; height:15rem;">
                <img src="@article.CoverImage" class="card-img-top" alt="Cover Image">
                <div class="card-body">
                    <h5 class="card-title">@article.Name</h5>
                    <p class="card-text">Prezzo: @article.Price</p>
                    <a href="@Url.Action("Details", "Article", new { id = article.Id })" class="btn btn-primary">Dettagli</a>
                </div>
            </div>
        </div>
    }
</div>

